@model IEnumerable<BodybuildingTest.Models.UserInformation.UserInfo>

    <h2>User Info</h2>
    <div style="display: block">
    <a href="/UserInfo/NewUser">Add a New User</a>
 </div>
    <table class="table">
        <tr>
            <th>UserID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Password</th>
            <th>Create Time</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Most Recent Workout</th>
        </tr>

    @foreach (var userInfo in @Model)
    {
        <tr>
            <td><a href=/UserInfo/ViewUserInfo/@userInfo.UserID>@userInfo.UserID</a></td>
            <td>@userInfo.Username</td>
            <td>@userInfo.Email</td>
            <td>@userInfo.Password</td>
            <td>@userInfo.Create_Time</td>
            <td>@userInfo.FirstName</td>
            <td>@userInfo.LastName</td>
            <td>@userInfo.Most_Recent_Workout</td>
        </tr>
    }
</table>